<!DOCTYPE html>
<html>
<head>
    <title>dgt</title>
</head>
<body>
    <form action="/addvehiculo"  method="POST">
        <input type="text" name="id">
        <input type="text" name="marca">
        <input type="text" name="modelo">
        <input type="text" name="ano">
        <input type="text" name="color">
        <input type="text" name="matricula">
        <button type="submit">
            Enviar
        </button>
    </form>

    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>marca</th>
                <th>modelo</th>
                <th>ano</th>
                <th>color</th>
                <th>matricula</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for vehiculo in vehiculos %}
            <tr>
                <td>{{ vehiculo.0 }}</td>
                <td>{{ vehiculo.1 }}</td>
                <td>{{ vehiculo.2 }}</td>
                <td>{{ vehiculo.3 }}</td>
                <td>{{ vehiculo.4 }}</td>
                <td>{{ vehiculo.5 }}</td>
                <td>

                    <a href="/deletevehiculo/{{vehiculo.0}}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>

</body>
</html>