{% extends "base.html" %}
<!DOCTYPE html>
<html>
<head>
    {% block content%}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <title>dgt</title>
</head>
<body>
    <h1>Listado de vehiculos DGT</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>MARCA</th>
                <th>MODEL</th>
                <th>AÑO</th>
                <th>COLOR</th>
                <th>MATRICULA</th>
                <th>ACCIONES</th>
            </tr>
        </thead>
        <tbody>
            {% for vehiculo in vehiculos %}
            <tr>
                <td>{{ vehiculo.id }}</td>
                <td>{{ vehiculo.marca }}</td>
                <td>{{ vehiculo.modelo }}</td>
                <td>{{ vehiculo.ano }}</td>
                <td>{{ vehiculo.color }}</td>
                <td>{{ vehiculo.matricula }}</td>
                <td>

                    <a class=deletee href="/deletevehiculo/{{vehiculo.id}}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <form action="/addvehiculo"  method="POST">
        <input type="text" name="marca">
        <input type="text" name="modelo">
        <input type="text" name="ano">
        <input type="text" name="color">
        <input type="text" name="matricula">
        <button type="submit">
            Añadir vehiculo
        </button>
    </form>
    {% endblock %}
</body>
</html>